html {
    font-family: Arial;
    background-color: black;
    color: white;
    text-align: center;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
}

td {
    text-align: center;
}

form {
    margin-top: 20px;
}

@media (min-width: 1024px) {
    section {
        display: inline-block;
        width: 46%;
        vertical-align: top;
        margin: 0 1%;
    }
}
